In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [11]:
data = pd.read_csv("user_exp_salary.csv")

In [12]:
data.head()

,User ID,Monthly_Salary,Monthly_Expense,MF1,MF2,MF3
0,FI001,25000,12000,HDFC Index Fund - Nifty 50 Plan,Aditya Birla Sun Life Index Fund,Axis Nifty ETF
1,FI002,35000,13000,SBI Nifty Index Fund,ICICI Prudential Nifty Index Fund,UTI Nifty Index Fund
2,FI003,40000,15000,Aditya Birla Sun Life Index Fund,Axis Nifty ETF,Kotak Nifty ETF
3,FI004,55000,20000,ICICI Prudential Nifty Index Fund,UTI Nifty Index Fund,Motilal Oswal Nifty 500 Fund
4,FI005,60000,22000,Axis Nifty ETF,Kotak Nifty ETF,Edelweiss Nifty ETF

In [13]:
X = data[['Monthly_Salary', 'Monthly_Expense']]
y1 = data['MF1']
y2 = data['MF2']
y3 = data['MF3']

In [14]:
X_train, X_test, y1_train, y1_test = train_test_split(X, y1, test_size=0.1, random_state=42)
X_train, X_test, y2_train, y2_test = train_test_split(X, y2, test_size=0.1, random_state=42)
X_train, X_test,y3_train, y3_test = train_test_split(X, y3, test_size=0.1, random_state=42)

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
clf1 = DecisionTreeClassifier()
clf1.fit(X_train, y1_train)

clf2 = DecisionTreeClassifier()
clf2.fit(X_train, y2_train)

clf3 = DecisionTreeClassifier()
clf3.fit(X_train, y3_train)

DecisionTreeClassifier()

In [17]:
y1_pred = clf1.predict(X_test)
y2_pred = clf2.predict(X_test)
y3_pred = clf3.predict(X_test)

In [18]:
accuracy1 = accuracy_score(y1_test, y1_pred)
accuracy1

0.6363636363636364

In [19]:
accuracy2 = accuracy_score(y2_test, y2_pred)
accuracy2

0.7272727272727273

In [20]:
accuracy3 = accuracy_score(y3_test, y3_pred)
accuracy3

0.7272727272727273

In [21]:
def pred():
    slr=int(input("Enter monthly salary"))
    exp=int(input("Enter monthly expenses"))
    r1=clf1.predict([[slr,exp]])
    r2=clf2.predict([[slr,exp]])
    r3=clf3.predict([[slr,exp]])
    a=np.array([r1,r2,r3])
    return a
print("Finovate recommends you to invest in",pred())

Enter monthly salary55000
Enter monthly expenses34000
Finovate recommends you to invest in [['ICICI Prudential Nifty Index Fund']
 ['UTI Nifty Index Fund']
 ['Motilal Oswal Nifty 500 Fund']]

In [22]:
import pickle

In [23]:
with open('model','wb') as f:
    pickle.dump((clf1,clf2,clf3),f)

In [24]:
with open('model','rb') as f:
    m1,m2,m3=pickle.load(f)

In [25]:
with open('text_file.txt', 'w') as f:
    f.write(str(data))

In [29]:
try:
    with open('text_file','rb') as f:
        try: 
            s=pickle.load(f)
            print(s)
        except:          
            print('file empty')
except:
    print('There is no file')

There is no file